In [5]:
# 라이브러리 사용
import pandas as pd
import tensorflow as tf

In [6]:
# 데이터 준비
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
data = pd.read_csv(path)
data

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48
5  25   50

In [11]:
# 종속변수, 독립변수
temp = data[['온도']]
sell = data[['판매량']]
print(temp.shape, sell.shape)

(6, 1) (6, 1)

In [12]:
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[1]) #shape: 독립변수의 column 수
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [18]:
# 모델을 학습합니다.
model.fit(temp, sell, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 1ms/step - loss: 1.7323e-04
Epoch 2/10
1/1 [==============================] - 0s 0s/step - loss: 1.7313e-04
Epoch 3/10
1/1 [==============================] - 0s 1ms/step - loss: 1.7310e-04
Epoch 4/10
1/1 [==============================] - 0s 1ms/step - loss: 1.7313e-04
Epoch 5/10
1/1 [==============================] - 0s 1ms/step - loss: 1.7314e-04
Epoch 6/10
1/1 [==============================] - 0s 0s/step - loss: 1.7315e-04
Epoch 7/10
1/1 [==============================] - 0s 1ms/step - loss: 1.7327e-04
Epoch 8/10
1/1 [==============================] - 0s 1ms/step - loss: 1.7339e-04
Epoch 9/10
1/1 [==============================] - 0s 0s/step - loss: 1.7344e-04
Epoch 10/10
1/1 [==============================] - 0s 1ms/step - loss: 1.7348e-04

In [19]:
# 모델을 이용합니다.
model.predict(temp)

array([[40.01948 ],
       [42.016567],
       [44.01365 ],
       [46.01073 ],
       [48.007812],
       [50.004894]], dtype=float32)

In [20]:
sell

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [21]:
model.predict([[15]])

array([[30.034073]], dtype=float32)