In [8]:
# 라이브러리 사용
import pandas as pd
import tensorflow as tf

In [9]:
# 과거의 데이터를 준비합니다.
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(path)
print(boston.shape)
boston.head()

(506, 14)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [10]:
# 독립변수, 종속변수 분리
ind_val = boston[['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','b','lstat']]
medv = boston[['medv']]
print(ind_val.shape, medv.shape)

(506, 13) (506, 1)

In [11]:
# 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13]) #Input layer
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [28]:
# 데이터로 모델을 학습(FIT)합니다.
model.fit(ind_val, medv, epochs=10000, verbose=0)
model.fit(ind_val, medv, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 438us/step - loss: 23.6850
Epoch 2/10
16/16 [==============================] - 0s 438us/step - loss: 23.0726
Epoch 3/10
16/16 [==============================] - 0s 375us/step - loss: 23.7496
Epoch 4/10
16/16 [==============================] - 0s 375us/step - loss: 22.9312
Epoch 5/10
16/16 [==============================] - 0s 375us/step - loss: 23.5752
Epoch 6/10
16/16 [==============================] - 0s 313us/step - loss: 23.0474
Epoch 7/10
16/16 [==============================] - 0s 313us/step - loss: 22.8169
Epoch 8/10
16/16 [==============================] - 0s 375us/step - loss: 24.0475
Epoch 9/10
16/16 [==============================] - 0s 375us/step - loss: 23.5607
Epoch 10/10
16/16 [==============================] - 0s 375us/step - loss: 23.6595

In [32]:
# 모델을 이용합니다.
model.predict(ind_val[0:5]) #예측값

array([[30.140759],
       [25.063187],
       [31.338608],
       [29.765686],
       [29.348045]], dtype=float32)

In [33]:
medv[0:5] #실제값

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [34]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.09512147],
        [ 0.04893577],
        [-0.00833092],
        [ 2.6357527 ],
        [-6.3073854 ],
        [ 4.970481  ],
        [-0.00687471],
        [-1.1638519 ],
        [ 0.22376187],
        [-0.01050762],
        [-0.6162067 ],
        [ 0.01292309],
        [-0.47127208]], dtype=float32),
 array([14.732823], dtype=float32)]